<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taikang.wechat.dao.verifyTicketDao.VerifyTicketDao">


    <insert id="insertTicketDao">
        INSERT INTO verify_ticket (
        VERIFY_TICKET_ID,
        COMPONENT_VERIFY_TICKET,
        EXPIRES_IN,
        BEG_TIME,
        CREATE_TIME,
        UPDATE_TIME)VALUES (
        #{verifyTicketId},
        #{componentVerifyTicket},
        #{expiresIn},
        #{begTime},
        #{createTime},
        #{updateTime}
        )
    </insert>
    <select id="selectTicket" resultType="com.taikang.wechat.model.weChat.VerifyTicket">
        SELECT * FROM verify_ticket ORDER BY CREATE_TIME DESC LIMIT 0,1
    </select>
    <delete id="deleteTicket">
      DELETE FROM verify_ticket WHERE VERIFY_TICKET_ID=#{id}
    </delete>

</mapper>